* {
	margin: 0px;
	padding: 0px;
}

.App {
	text-align: center;
	display: flex;
	flex-direction: column;
	width: 40%;
}

input {
	margin: 10px;
	height: 30px;
	padding: 3px;
}

button {
	margin-top: 30px;
	height: 50px;
	padding: 3px;
}

textarea {
	padding: 3px;
	min-height: 150px;
	height: 200px; /* Высота поля в пикселах */
	resize: none; /* Запрещаем изменять размер */
}
